In [1]:
import os

os.chdir("../")
os.getcwd()

'c:\\Users\\HP\\Desktop\\flight-comptetion\\NNights-team'

In [2]:
# imports
import numpy as np
import pandas as pd

In [3]:
# load flight data
flights = pd.read_csv(
    "data/flights_train.csv",
    parse_dates=["flight_date"]
)

flights.sort_values(
    by=["flight_date"],
    inplace=True
)

In [4]:
flights.columns

Index(['flight_date', 'from', 'to', 'avg_weeks', 'target', 'std_weeks'], dtype='object')

In [5]:
# get all airports
source_airports = flights["from"].unique()
target_airports = flights["to"].unique()

all_airports = np.union1d(source_airports, target_airports)

In [6]:
all_airports

array(['ATL', 'BOS', 'CLT', 'DEN', 'DFW', 'DTW', 'EWR', 'IAH', 'JFK',
       'LAS', 'LAX', 'LGA', 'MCO', 'MIA', 'MSP', 'ORD', 'PHL', 'PHX',
       'SEA', 'SFO'], dtype=object)

In [7]:
# build dict of encodings
dict_airports_encodings = {
    airport: i for i, airport in enumerate(all_airports)
}

In [8]:
dict_airports_encodings

{'ATL': 0,
 'BOS': 1,
 'CLT': 2,
 'DEN': 3,
 'DFW': 4,
 'DTW': 5,
 'EWR': 6,
 'IAH': 7,
 'JFK': 8,
 'LAS': 9,
 'LAX': 10,
 'LGA': 11,
 'MCO': 12,
 'MIA': 13,
 'MSP': 14,
 'ORD': 15,
 'PHL': 16,
 'PHX': 17,
 'SEA': 18,
 'SFO': 19}

In [9]:
from nnights.enrich_jobs import encode_loc

encode_loc(flights)

['from_enc', 'to_enc']

In [10]:
flights

     flight_date from   to  avg_weeks     target  std_weeks  from_enc  to_enc
642   2011-09-01  DTW  ORD   9.055556  11.251560   6.053412         5      15
882   2011-09-01  ORD  DEN  12.000000  11.426462   8.129632        15       3
8252  2011-09-01  EWR  BOS  11.350000  11.159896   8.330508         6       1
2532  2011-09-01  SFO  DFW  11.454545  11.321779   7.920602        19       4
6844  2011-09-01  DEN  LAX  12.607143  11.634324   8.288052         3      10
...          ...  ...  ...        ...        ...        ...       ...     ...
3997  2012-11-14  DTW  ATL   9.166667  10.982615   6.252058         5       0
5570  2012-11-14  LGA  DFW   8.055556  12.155299   6.121055        11       4
1781  2012-11-14  BOS  LAX  11.111111  10.680432   9.272914         1      10
5175  2012-11-14  DEN  LAS  12.680000  10.554797  10.278294         3       9
4076  2012-11-14  ORD  IAH   9.526316  10.951357   6.653056        15       7

[8896 rows x 8 columns]