In [1]:
import os

os.chdir("../")
os.getcwd()

'c:\\Users\\HP\\Desktop\\flight-comptetion\\NNights-team'

In [2]:
# imports
import numpy as np
import pandas as pd

In [3]:
# load flight data
flights = pd.read_csv(
    "data/flights_train.csv",
    parse_dates=["flight_date"]
)

flights.sort_values(
    by=["flight_date"],
    inplace=True
)

In [6]:
dummies_1 = pd.get_dummies(flights["to"])

In [7]:
dummies_2 = pd.get_dummies(flights["from"])

In [13]:
dummies_1 + (-1) * dummies_2

,ATL,BOS,CLT,DEN,DFW,DTW,EWR,IAH,JFK,LAS,LAX,LGA,MCO,MIA,MSP,ORD,PHL,PHX,SEA,SFO
642,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
882,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0
8252,0,1,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0
2532,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1
6844,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,1,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0
1781,0,-1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
5175,0,0,0,-1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4076,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,-1,0,0,0,0

In [15]:
list(dummies_2.columns)

['ATL',
 'BOS',
 'CLT',
 'DEN',
 'DFW',
 'DTW',
 'EWR',
 'IAH',
 'JFK',
 'LAS',
 'LAX',
 'LGA',
 'MCO',
 'MIA',
 'MSP',
 'ORD',
 'PHL',
 'PHX',
 'SEA',
 'SFO']