In [1]:
import os

os.chdir("../")
os.getcwd()

'c:\\Users\\HP\\Desktop\\flight-comptetion\\NNights-team'

In [2]:
# imports
import pandas as pd
from nnights.enrich_jobs import dict_enrich

In [3]:
# load flight
# load data
flights = pd.read_csv(
    "data/flights_train.csv",
    parse_dates=["flight_date"]
)

flights.sort_values(
    by=["flight_date"],
    inplace=True
)

In [4]:
dict_enrich["add_is_holiday"](flights)

['is_holiday']

In [4]:
flights

     flight_date from   to  avg_weeks     target  std_weeks
642   2011-09-01  DTW  ORD   9.055556  11.251560   6.053412
882   2011-09-01  ORD  DEN  12.000000  11.426462   8.129632
8252  2011-09-01  EWR  BOS  11.350000  11.159896   8.330508
2532  2011-09-01  SFO  DFW  11.454545  11.321779   7.920602
6844  2011-09-01  DEN  LAX  12.607143  11.634324   8.288052
...          ...  ...  ...        ...        ...        ...
3997  2012-11-14  DTW  ATL   9.166667  10.982615   6.252058
5570  2012-11-14  LGA  DFW   8.055556  12.155299   6.121055
1781  2012-11-14  BOS  LAX  11.111111  10.680432   9.272914
5175  2012-11-14  DEN  LAS  12.680000  10.554797  10.278294
4076  2012-11-14  ORD  IAH   9.526316  10.951357   6.653056

[8896 rows x 6 columns]

In [7]:
dict_enrich["add_distance_to_next_holiday"](flights)

['distance_to_next_holiday']

In [8]:
flights

,flight_date,from,to,avg_weeks,target,std_weeks,is_holiday,distance_to_next_holiday
642,2011-09-01,DTW,ORD,9.055556,11.251560,6.053412,True,0
882,2011-09-01,ORD,DEN,12.000000,11.426462,8.129632,True,0
8252,2011-09-01,EWR,BOS,11.350000,11.159896,8.330508,True,0
2532,2011-09-01,SFO,DFW,11.454545,11.321779,7.920602,True,0
6844,2011-09-01,DEN,LAX,12.607143,11.634324,8.288052,True,0
...,...,...,...,...,...,...,...,...
3997,2012-11-14,DTW,ATL,9.166667,10.982615,6.252058,False,8
5570,2012-11-14,LGA,DFW,8.055556,12.155299,6.121055,False,8
1781,2012-11-14,BOS,LAX,11.111111,10.680432,9.272914,False,8
5175,2012-11-14,DEN,LAS,12.680000,10.554797,10.278294,False,8
4076,2012-11-14,ORD,IAH,9.526316,10.951357,6.653056,False,8

In [4]:
dict_enrich["add_distance_to_holidays"](flights)

Index(['New Year's Day', 'Birthday of Martin Luther King, Jr.',
       'Washington's Birthday', 'Memorial Day',
       'Juneteenth National Independence Day', 'Independence Day', 'Labor Day',
       'Columbus Day', 'Veterans Day', 'Thanksgiving Day', 'Christmas Day'],
      dtype='object', name='name')

In [9]:
flights.columns

Index(['flight_date', 'from', 'to', 'avg_weeks', 'target', 'std_weeks',
       'distance_to_New Year's Day',
       'distance_to_Birthday of Martin Luther King, Jr.',
       'distance_to_Washington's Birthday', 'distance_to_Memorial Day',
       'distance_to_Juneteenth National Independence Day',
       'distance_to_Independence Day', 'distance_to_Labor Day',
       'distance_to_Columbus Day', 'distance_to_Veterans Day',
       'distance_to_Thanksgiving Day', 'distance_to_Christmas Day'],
      dtype='object')

In [6]:
id(flights)

2153823307376