In [14]:
from nnights.experiment import Experiment
import pandas as pd 
data = pd.read_csv("../data/flights_train.csv")
exp = Experiment(data)

In [10]:
config = {'enrich':{'external_enrich':[],
                    'internal_enrich':['add_day_of_year','encode_locations']},
           'model':{'test_size':0.5},
           'x_columns':['avg_weeks','std_weeks']

           }

exp.run(config)

enrich start ...
model start ...
x_columns ['avg_weeks', 'std_weeks', 'day_of_year']
['avg_weeks', 'std_weeks', 'day_of_year']
rmse on test 0.8668942272713054

In [13]:
import pprint
data = exp.meta['cache']['data']
x_columns = exp.meta['cache']['x_columns']
data.head()

  flight_date from   to  avg_weeks     target  std_weeks  day_of_year
0  2012-06-19  ORD  DFW  12.875000  12.331296   9.812647          171
1  2012-09-10  LAS  DEN  14.285714  10.775182   9.466734          254
2  2012-10-05  DEN  LAX  10.863636  11.083177   9.035883          279
3  2011-10-09  ATL  ORD  11.480000  11.169268   7.990202          282
4  2012-02-21  DEN  SFO  11.450000  11.269364   9.517159           52